.button {
  padding: 16px;
  font-size: 14px;
  background-color: var(--green-500);


  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  gap: 8px;

  &:hover {
    background-color: var(--green-700);
    transition: all ease 0.3s;
  }
}