.box {

  .box-date {
    font-size: 14px;
    color: var(--gray-300);
  }

  .container {
    border-radius: 4px;
    border: 1px solid var(--gray-500);
    padding: 16px;
    margin-top: 8px;

    &:hover {
      border: 1px solid var(--green-500);
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .span-text1 {
        font-size: 14px;
        line-height: 20px;
        color: var(--blue-500);

        display: flex;
        align-items: center;
        gap: 8px;
      }

      .span-text2 {
        font-size: 14px;
        line-height: 20px;
        color: var(--orange-500);

        display: flex;
        align-items: center;
        gap: 8px;
      }

      .span-live {
        font-size: 12px;
        line-height: 16px;
        border-radius: 4px;
        padding: 2px 8px;
        color: var(--white);
        border: 1px solid var(--green-300);
        font-weight: bold;
      }
    }

    .text-footer {
      color: var(--gray-200);
      margin-top: 20px;
      display: block;
      font-size: 15px;
    }
  }
}


.box-active {

  .box-date {
    font-size: 14px;
    color: var(--gray-300);
  }

  .container {
    border-radius: 4px;
    border: 1px solid var(--gray-500);
    padding: 16px;
    margin-top: 8px;
    background-color: var(--green-500);

    &:hover {
      border: 1px solid var(--green-500);
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .span-text1 {
        font-size: 14px;
        line-height: 20px;
        color: #FFF;

        display: flex;
        align-items: center;
        gap: 8px;
      }

      .span-text2 {
        font-size: 14px;
        line-height: 20px;
        color: var(--orange-500);

        display: flex;
        align-items: center;
        gap: 8px;
      }

      .span-live {
        font-size: 12px;
        line-height: 16px;
        border-radius: 4px;
        padding: 2px 8px;
        color: var(--white);
        border: 1px solid #FFF;
        font-weight: bold;
      }
    }

    .text-footer {
      color: #FFF;
      margin-top: 20px;
      display: block;
      font-size: 15px;
    }
  }
}