.player {
  flex: 1;

  .player-box {
    background-color: #000;

    display: flex;
    justify-content: center;

    .player-content {
      width: 100%;
      height: 100%;
      max-width: 1100px;
      max-height: 60vh;
      aspect-ratio: 16 / 9;
    }
  }

  .info {
    padding: 32px;
    max-width: 1100px;
    margin: auto;

    .info-users {
      display: flex;
      align-items: start;
      gap: 64px;

      .info-users1 {
        flex: 1;

        h1 {
          font-size: 24px;
          font-weight: bold;
        }

        p {
          margin-top: 16px;
          color: var(--gray-200);
          line-height: 1.625;
        }

        .teacher {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-top: 24px;

          img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            border: 2px solid var(--blue-500);
          }

          .teacher-info {
            line-height: 1.625;

            strong {
              font-weight: bold;
              font-size: 24px;
              line-height: 32px;
              display: block;
            }

            span {
              color: var(--gray-200);
              font-size: 14px;
              line-height: 20px;
              display: block;
            }
          }
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .button-1 {
          padding: 16px;
          font-size: 14px;
          background-color: var(--green-500);

          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          font-weight: bold;
          text-transform: uppercase;
          gap: 8px;

          &:hover {
            background-color: var(--green-700);
            transition: all ease 0.3s;
          }

        }

        .button-2 {
          padding: 16px;
          font-size: 14px;
          color: var(--blue-500);
          border: 1px solid var(--blue-500);

          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          font-weight: bold;
          text-transform: uppercase;
          gap: 8px;

          &:hover {
            background-color: var(--blue-500);
            color: var(--gray-900);
            transition: all ease 0.3s;
          }
        }
      }
    }

    .material-complementary {
      gap: 32px;
      margin-top: 80px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
      .complementary-1 {
        background-color: var(--gray-700);
        border-radius: 4px;
        overflow: hidden;

        display: flex;
        align-items: stretch;
        gap: 24px;

        &:hover {
          background-color: var(--gray-600);
          transition: all ease 0.3s;
        }

        .complementary-icon {
          background-color: var(--green-700);
          height: 100%;
          padding: 24px;

          display: flex;
          align-items: center;
        }

        .complementary-desc {
          padding: 24px 0;
          line-height: 1.625;

          strong {
            font-size: 24px;
            line-height: 32px;
          }

          p {
            font-size: 14px;
            line-height: 20px;
            color: var(--gray-200);
            margin-top: 8px;
          }
        }

        .complementary-arrow {
          height: 100%;
          padding: 24px;

          display: flex;
          align-items: center;
        }
      }
    }
  }
}